<script>
  $(function(){
    var audio = document.getElementById("book_audio");
    if(audio) {
      audio.onloadedmetadata = function () {
        if (position) audio.currentTime = $('#position').val();
      }
    }

    $("#add_segment").click(function(e){
      var audio = document.getElementById("book_audio");
      if(audio) $("#position").val(audio.currentTime);
    });

    $(".play").click(function(e){
      var audio = document.getElementById("book_audio");
      if(audio) {
        audio.currentTime = e.target.dataset.position;
        audio.play();
      }
      return false;
    });
  });
</script>

<div class="card">
  <div class="card-header">
    朗読データ編集
  </div>
  <div class="card-body">
    <%= form_tag({:action => :edit}, {method: :get, class: 'form-inline'}) do %>
      <div class="form-group">
        <%= select_tag :book_code, options_for_select(@books, params[:book_code]),
                       class: 'form-control', style: 'width:200px;margin-right:10px;' %>
      </div>
      <div class="form-group">
        <%= select_tag :audio_bible_id, options_from_collection_for_select(AudioBible.all(current_user.id), :id,
                                                                           :name, params[:audio_bible_id]), class: 'form-control', style: 'width:200px;margin-right:10px;' %>
      </div>
      <div class="form-group">
        <%= text_field_tag :chapter, params[:chapter], placeholder: '章',
                           class: 'form-control', style: 'width:80px;margin-right:10px;' %>
      </div>
      <%= submit_tag '参照', class: 'btn btn-mini btn-primary' %>
    <% end %>
  </div>
</div>

<% if @audio_segments.present? %>
  <div class="card">
    <div class="card-header">朗読データ</div>
    <div class="card-body">
      <table class="table table-responsive-sm table-sm" style="width:300px;margin-top:20px;">
        <thead>
          <tr>
            <th></th>
            <th>節番号</th>
            <th>開始時刻</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @audio_segments.each do |audio_segment| %>
            <tr>
              <td>
                <%= link_to '', '#', 'data-position' => audio_segment.position, class: 'play fa fa-play' %>
              </td>
              <td><%= audio_segment.verse %></td>
              <td><%= audio_segment.position %></td>
              <td>
                <%= link_to '削除', audio_segment, method: :delete, data: { confirm: '削除しますか?'}, :class => 'btn btn-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= form_tag :action => :regist do %>
        <%= hidden_field_tag :audio_bible_id, params[:audio_bible_id] %>
        <%= hidden_field_tag :book_code, params[:book_code] %>
        <%= hidden_field_tag :chapter, params[:chapter] %>

        <% if @audio_file.present? && File.exist?(@audio_file_path) %>
          <%= hidden_field_tag :position, params[:position] %>
          <audio src=<%= @audio_file %> controls style="width:100%;" id="book_audio" ></audio>
          <%= submit_tag '時刻セット', id: :add_segment, name: :add_book_section, class: 'btn btn-primary', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

