<style>
  .card-link:link { color: black; text-decoration:none; }
  .card-link:visited { color: black; text-decoration:none; }
  .card-link:active { color: black; text-decoration:none; }
  .card-article:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    -ms-box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    color: black;
  }
  .card-article {
    height: 250px;
  }
  .card-header-article {
    padding: 5px 10px;
  }
  .card-body-article {
    overflow: hidden;
    margin: 10px;
    padding: 0px;
  }
  p { margin-bottom: 0; }
</style>


<% content_for :sub_menu do %>
  <% if @target_group.blank? and @target_user.blank? %>
    <%= link_to new_article_path(parent_id: @article.try(:id), directory: true), 'data-turbolinks': false, class: 'btn' do %>
      <i class="icon-folder-alt"></i>
      カテゴリ追加
    <% end %>
    <%= link_to new_article_path(parent_id: @article.try(:id)), 'data-turbolinks': false, class: 'btn' do %>
      <i class="icon-pencil"></i>
      記事作成
    <% end %>
  <% end %>
<% end %>


<div class="animated fadeIn">
  <table class="table table-responsive-sm bg-white">
    <colgroup>
      <col width="calc(100% - 40px)">
      <col width="40px">
    </colgroup>
    <tbody>
    <% @articles.where(directory: true).each do |article| %>
      <tr>
        <td>
          <%= link_to target_article_path(article, @target_group, @target_user), style: 'text-decoration:none;' do %>
            <div style="width:100%;height:100%;">
              <i class="icon-folder-alt"></i>&nbsp;<%= article.title %><small style="margin-left: 20px;"><%= truncate(article.headline, length: 50) %></small>
            </div>
          <% end %>
        </td>
        <td>
          <% if article.user_id == current_user.try(:id) %>
            <%= link_to edit_article_path(article), 'data-turbolinks': false do %>
              <i class="fa fa-edit fa-lg"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="row">
    <% @articles.where(directory: false).each do |article| %>
    <div class="col-sm-6 col-lg-4 col-xl-3">
      <%= link_to target_article_path(article, @target_group, @target_user), class: 'card-link' do %>
        <div class="card card-article<% if article.directory? %> card-accent-secondary<% end %>">
          <div class="card-header card-header-article">
            <%= article.title %>  <small>[<%= article.author_name %> <%= article.created_at.strftime('%Y-%m-%d') %>]</small>
          </div>
          <div class="card-body card-body-article">
            <%= simple_format(article.headline + '...') %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
