<style>
  #book { width: 200px; }
  #chapter { width: 80px; margin-left: 5px; }
  #verse1,#verse2 { width: 80px; margin-left: 5px; }

  fieldset.fieldset {
    border: 1px groove #ddd !important;
    padding: 0 5px 5px 5px !important;
    margin: 5px !important;
  }

  legend.fieldset {
    font-size: 90% !important;
    font-weight: normal !important;
    text-align: left !important;
    width:auto;
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: none;
  }

  .tooltip-inner{
    max-width: 350px;
  }
</style>


<script type="text/javascript" charset="utf-8">
  function hover_lemma(){
    var e = $(this);
    var lemma = e.text();
    var msg;

    var req = "/dictionaries/get.json?lemma=" + lemma;
    $.ajax(req, {
      async: false,
      success: function(data){
        msg = "<p style=\"text-align: center;border-bottom: 1px solid #888;margin: 0;\">";
        msg += "<span class=\"" + data["lang"] + "\">" + data["spell"] + "</span>";
        msg += " (" + data["lemma"] + ")  -- " + data["transliteration"] + "</p>";
        msg += '<div style="text-align: left;">';
        msg += '<p>' + data["meaning"].replace(/\n/g, '<br>') + '</p>';
        msg += '</div>';
      }
    });
    return msg;
  }

  function hover_morph(){
    var e = $(this);
    var parsing = e.text();
    var msg;

    var req = "/morphologies/get.json?parsing=" + parsing;
    $.ajax(req, {
      async: false,
      success: function(data){
        msg = "<p style=\"text-align: center;border-bottom: 1px solid #888;margin: 0;\">";
        msg += "<span>" + data["parsing"] + " (" + data["code"] + ")" + "</span>";
        msg += '<div style="text-align: left;">';
        msg += '<p>' + data["remark"].replace(/\n/g, '<br>') + '</p>';
        msg += '</div>';
      }
    });
    return msg;
  }
  function hover_vocab() {
      var e = $(this);
      var vocab = e.attr('data-spell');
      var lemma = e.attr('data-lemma');
      var msg = '<small class="he">' + vocab + '</small>&nbsp;';
      msg += '(' + lemma + ')';
      return msg;
  }

  $(function () {
    $('.select2').select2({theme: "bootstrap"});
    $('.lemma').tooltip({
      title: hover_lemma,
      html: true,
      container: 'body'
    });
    $('.morph').tooltip({
      title: hover_morph,
      html: true,
      container: 'body'
    });
    $('.vocab').tooltip({
        title: hover_vocab,
        html: true,
        container: 'body'
    });
  });
</script>


<% if @vocabularies.present? %>
  <div class="card">
    <div class="card-body">
      <h4 class="clearfix">
        <% vocabulary = @vocabularies.first %>
        <div class="pull-left">
          <span class="<%= vocabulary.dictionary.lang %>"><b><%= vocabulary.spell %></b></span>
          (<%= vocabulary.lemma %>) -- <%= vocabulary.transliteration %>
        </div>
        <div class="pull-right">
          <%= link_to('<前', {controller: :dictionaries, action: :get, lemma: @prev.lemma},
                      'data-toggle': 'tooltip', 'data-spell': @prev.spell, 'data-lemma': @prev.lemma,
                      class: 'btn btn-sm btn-outline-primary vocab') if @prev.present? %>
          <%= link_to('次>', {controller: :dictionaries, action: :get, lemma: @next.lemma},
                      'data-toggle': 'tooltip', 'data-spell': @next.spell, 'data-lemma': @next.lemma,
                      class: 'btn btn-sm btn-outline-primary vocab') if @next.present? %>
        </div>
      </h4>
      <% @vocabularies.each do |vocabulary| %>
        <div style="margin: 10px;">
          <b><%= vocabulary.dictionary.name %></b>
          <% if vocabulary.meaning.present? %>
            <%= simple_format(vocabulary.meaning, style: 'margin-left: 10px;') %>
          <% end %>
          <% vocabulary.images.each do |image| %>
            <p><%= image_tag image, style: 'width: 640px;max-width: 100%;' %></p>
          <% end %>
          <% if vocabulary.meaning.blank? %>
            <%= form_for(vocabulary, html: {class: 'form-inline'}) do |f| %>
              <label>
                <small><i class="fa fa-plus"></i>&nbsp;画像追加</small>
                <%= f.file_field :images, multiple: true, onchange: 'submit();', class: 'hidden', style: 'display:none;' %>
              </label>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @vocab_assocs.present? %>
    <div class="card">
      <div class="card-header">
        <strong>関連語</strong>&nbsp
      </div>
      <div class="card-body">
        <% @vocab_assocs.each do |_, vocab_assocs| %>
          <div>
            <% vocab_assocs.each do |vocab_assoc| %>
              <% vocab_assoc.vocab_assoc_members.order(:lemma).each_with_index do |vocab_assoc_member, i| %>
                <% if i == 0 %>
                  <div style="width:80px;display:inline-block;">
                    <span class="badge badge-success"><%= vocab_assoc.assoc_type_text %></span>
                  </div>
                <% end %>
                <% if vocab_assoc_member.lemma != @lemma %>
                  <div style="display:inline-block;">
                    <%= link_to(controller: :dictionaries, action: :get, lemma: vocab_assoc_member.lemma) do %>
                      <% vocab = Vocabulary.find_by(lemma: vocab_assoc_member.lemma) %>
                      <span class="he" style="font-size: 120%;"><%= vocab&.spell %></span><small>(<%= vocab_assoc_member.lemma %>)</small>
                    <% end %>
                    &nbsp;
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <strong>参照箇所</strong>&nbsp
    </div>
    <div class="card-body">
      <table class="table table-condensed">
        <% @bibles.each do |bible| %>
          <% vocab_counts = VocabCount.where(bible_id: bible.id, lemma: @lemma) %>
          <tr>
            <td style="width:100px;"><%= bible.code %>(<%= vocab_counts.sum(:count) %>)</td>
            <td>
              <% vocab_counts.each do |vocab_count| %>
                <% if bible.code == params[:module_code] && vocab_count.book_code == params[:book_code] %>
                  <strong><%= vocab_count.book_code %>(<%= vocab_count.count %>)</strong>
                <% else %>
                  <%= link_to({controller: :dictionaries, action: :get, module_code: bible.code, book_code: vocab_count.book_code, lemma: @lemma}) do %>
                    <%= vocab_count.book_code %>(<%= vocab_count.count %>)
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <% if @passages.present? %>
    <% @vocab_indices.each do |vocab_index| %>
      <% passages = @passages[vocab_index.id] %>
      <div class="card">
        <div class="card-header" style="padding:4px 10px;">
          <%= link_to(bibles_path(book_code: params[:book_code], chapter: vocab_index.chapter, verse1: vocab_index.verse, verse2: vocab_index.verse), target: '_blank') do %>
            <strong><%= vocab_index.chapter %>:<%= vocab_index.verse %></strong>&nbsp;
          <% end %>
        </div>
        <div class="card-body" style="padding:5px;">
          <div class="row row-0">
            <% languages = passages.keys %>
            <% col_class = 'col-md-' + (12/languages.size).to_s %>
            <% languages.sort_by{ |lang| Lang::LANG[lang.to_sym] }.each do |lang| %>
              <% passages2 = passages[lang] %>
              <div class="<%= col_class %>">
                <% passages2.each do |code, passage| %>
                  <% if passage[vocab_index.verse].present? %>
                    <%= render 'bibles/passage', passage: passage[vocab_index.verse], lang: lang, name: @bible_names[code], select_lemma: @lemma %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <%= paginate @vocab_indices %>
      </ul>
    </nav>
  <% end %>
<% end %>
