<fieldset class="fieldset" style="background-color: #f8f8f2">
  <legend class="fieldset"><%= name %></legend>
  <div class="<%= lang %>">
    <ul class="passage">
      <% passage.each do |word| %>
        <li>
          <span class="word <%= lang %>"><%= word.text %></span>
          <% if word.lemma.present? %>
            <br>
            <span class="lemma" data-placement="bottom" data-toggle="tooltip_lemma" data-lemma="<%= word.lemma %>" >
              <%= link_to word.lemma, {controller: :dictionaries, action: :get, lemma: word.lemma}, target: '_blank' %>
            </span>
          <% end %>
          <% if word.morph.present? %>
            <br>
            <span class="morph" data-placement="bottom" data-toggle="tooltip_morph" >
              <%= word.morph %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</fieldset>
