<style>
  #book { width: 200px; }
  #chapter { width: 80px; margin-left: 5px; }
  #verse1,#verse2 { width: 80px; margin-left: 5px; }

  fieldset.fieldset {
    border: 1px groove #ddd !important;
    padding: 0 5px 5px 5px !important;
    margin: 5px !important;
  }

  legend.fieldset {
    font-size: 90% !important;
    font-weight: normal !important;
    text-align: left !important;
    width:auto;
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: none;
  }

  .tooltip-inner{
    max-width: 350px;
  }
</style>


<script type="text/javascript" charset="utf-8">
  function hover_lemma(){
    var e = $(this);
    var lemma = e.data('lemma');
    var msg;

    var req = "/dictionaries/get.json?lemma=" + lemma;
    $.ajax(req, {
      async: false,
      success: function(data){
        msg = "<p style=\"text-align: center;border-bottom: 1px solid #888;margin: 0;\">";
        msg += "<span class=\"" + data["lang"] + "\">" + data["spell"] + "</span>";
        msg += " (" + data["lemma"] + ")  -- " + data["transliteration"] + "</p>";
        msg += '<div style="text-align: left;">';
        msg += '<p>' + data["meaning"].replace(/\n/g, '<br>') + '</p>';
        msg += '</div>';
      }
    });
    return msg;
  }

  function hover_morph(){
    var e = $(this);
    var parsing = e.text();
    var msg;

    var req = "/morphologies/get.json?parsing=" + parsing;
    $.ajax(req, {
      async: false,
      success: function(data){
        msg = "<p style=\"text-align: center;border-bottom: 1px solid #888;margin: 0;\">";
        msg += "<span>" + data["parsing"] + " (" + data["code"] + ")" + "</span>";
        msg += '<div style="text-align: left;">';
        msg += '<p>' + data["remark"].replace(/\n/g, '<br>') + '</p>';
        msg += '</div>';
      }
    });
    return msg;
  }

  var timer_id = null;
  var stop_time = 0;
  var audio;

  function stop_audio(target) {
    audio = document.getElementById(target);
    if(audio && audio.currentTime > stop_time)    audio.pause();
    else                                          timer_id = setTimeout(stop_audio, 50, target);
  }

  function play(target) {
    audio = document.getElementById(target);
    if(audio) audio.play();
  }

  $(function () {
    $('.select2').select2({theme: "bootstrap"});
    $('[data-toggle="tooltip_lemma"]').tooltip({
      title: hover_lemma,
      html: true,
      container: 'body'
    });
    $('.morph').tooltip({
      title: hover_morph,
      html: true,
      container: 'body'
    });

    $(".play_audio").click(function(){
      var audio_code = $(this).data('audio_code');
      if(audio) audio.pause();
      audio = document.getElementById(audio_code);
      if(audio) {
        audio.currentTime = $(this).data('start_time');
        audio.play();
        if(timer_id) {
          clearInterval(timer_id);
          timer_id = null;
        }
        var t = parseFloat($(this).data('stop_time'));
        if(t > 0) {
          stop_time = t;
          timer_id = setTimeout(stop_audio, 50, audio_code);
        }
      }
      return false;
    });
    $(".pause_audio").click(function(){
      var audio_code = $(this).data('audio_code');
      audio = document.getElementById(audio_code);
      if(audio) audio.pause();
      return false;
    });
  });
</script>


<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> 聖書閲覧
  </div>
  <div class="card-body">
    <%= form_tag({controller: :bibles, action: :index}, {method: :get}) do %>
      <div class="form-inline">
        <%= select_tag :book, options_for_select(@books, params[:book]), include_blank: false, class: 'form-control select2'  %>
        <%= number_field_tag :chapter, params[:chapter], placeholder: '章', class: 'form-control' %>
        <%= number_field_tag :verse1, params[:verse1], placeholder: '節', class: 'form-control' %>
        <%= number_field_tag :verse2, params[:verse2], placeholder: '節', class: 'form-control', style: 'margin-right:10px;' %>

        <a role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-translations"
           class="btn btn-secondary ml-sm-2" href="#collapse-translations">翻訳
        </a>
        <a role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-audio"
           class="btn btn-secondary ml-sm-1 collapsed" href="#collapse-audio">
          朗読
        </a>
        <input type="submit" class="btn btn-primary ml-sm-1">
      </div>

      <div class="collapse" id="collapse-translations">
        <div class="well" style="padding:5px;margin-top:10px;">
          <table class="table table-condensed">
            <tbody>
              <% @bibles.each do |lang, bibles| %>
                <tr>
                  <th><%= lang %></th>
                  <td>
                    <% bibles.each do |bible| %>
                      <% id = "modules_#{bible.code}" %>
                      <label for="<%= id %>">
                        <%= check_box_tag 'modules[]', bible.code, params[:modules].try(:include?, bible.code), id: id %>
                        <%= bible.name %>
                      </label>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="collapse" id="collapse-audio">
        <div class="well" style="padding:5px;margin-top: 10px;">
          <% if @audio_bibles.present? %>
            <% @audio_bibles.each do |audio_bible| %>
              <audio src=<%= audio_bible.file_path(params[:book], params[:chapter].to_i) %> id="<%= 'audio_' + audio_bible.code %>" controls
                     style="width:100%;"></audio>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<% if @passages.present? %>
  <% (@verse1..@verse2).each do |verse| %>
    <div class="card">
      <div class="card-header" style="padding:4px 10px;">
        <strong><%= @chapter %>:<%= verse %></strong>&nbsp;
        <% if @audio_bibles.present? %>
          <% audio_segments = AudioSegment.all(current_user.id).where(book_code: params[:book], chapter: params[:chapter], verse: verse) %>
          <% audio_segments.each do |audio_segment| %>
            <% audio_bible = audio_segment.audio_bible %>
            <div style="display: inline-block;margin: 2px 15px 0 10px;height: 24px;">
              <i class="fa fa-volume-up"></i>
              <%= link_to '#',
                          'data-audio_code': 'audio_' + audio_bible.code,
                          'data-start_time': audio_segment.position,
                          'data-stop_time': audio_segment.next_position,
                          class: 'play_audio btn btn-xs btn-flat btn-default' do %>
                <i class="fa fa-play"></i>
              <% end %>
              <%= link_to '#', 'data-audio_code': 'audio_' + audio_bible.code,
                          class: 'pause_audio btn btn-xs btn-flat btn-default' do %>
                <i class="fa fa-pause"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="card-body" style="padding:5px;">
        <div class="row row-0">
          <% langs = @passages.keys.length %>
          <% col_class = 'col-md-' + (12/langs).to_s %>
          <% @passages.each do |lang, passages| %>
            <div class="<%= col_class %>">
              <% passages.each do |code, passage| %>
                <%= render 'passage', passage: passage[verse], lang: lang, name: @select_modules[code].name %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
