<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/users/home">
      <i class="nav-icon icon-home"></i> ホーム
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/articles/">
      <i class="nav-icon fa fa-list"></i> 記事一覧
    </a>
  </li>
  <% current_user.article_users.where(menu_type: :side_menu).each do |article_user| %>
    <% article = article_user.article %>
    <li class="nav-item">
      <%= link_to article, class: 'nav-link' do %>
        <% css_class = article.directory? ? 'icon-folder-alt' : 'icon-star' %>
        <i class="<%= css_class %>"></i> <%= article.title %>
      <% end %>
    </li>
  <% end %>
  <% current_user.groups.where(group_type: :community).each do |group| %>
    <li class="nav-item">
      <%= link_to group, class: 'nav-link' do %>
        <i class="nav-icon icon-people"></i> <%= group.name %>
      <% end %>
    </li>
  <% end %>
  <li class="nav-item">
    <a class="nav-link" href="/users/edit_profile">
      <i class="nav-icon icon-settings"></i> 各種設定
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/invitation">
      <i class="nav-icon icon-user-follow"></i> 友人を招待
    </a>
  </li>
  <li class="nav-item nav-dropdown">
    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i>聖書メニュー</a>
    <ul class="nav-dropdown-items">
      <li class="nav-item">
        <a class="nav-link pl-4" href="/bibles"><i class="fa fa-book"></i>聖書閲覧</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pl-4" href="/vocabularies"><i class="fa fa-search"></i>辞書検索</a>
      </li>
    </ul>
  </li>
</ul>
